<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> About Node-js</title>
    <style>
        body {
            color: beige;
            text-align: center;
            background: royalblue;
        }

        a {
            color: darksalmon;
        }
    </style>
</head>
<body>
<h1>
    About page.
</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, enim exercitationem facere iste minus, natus odit
    provident recusandae reiciendis saepe similique, tenetur! Beatae dolorum, eligendi ipsum non quam repellendus sequi?
</p>
<a href="/">HOME</a>
</body>
</html>